@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

html {
    font: 16px/26px 'Roboto', sans-serif; color:#373737;
}
body, .top-menu-list {
    margin: 0;
}
.top-menu {
    margin: 30px auto;
    text-align: center;
}
.menu-article {
    display: inline;
    list-style: none;
    margin-right: 60px;
}
.menu-article:last-child {
    margin-right: 0;
}
.menu-link {
    color:#16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.top-banner {
    width: 100%;
    max-height: 790px;
    object-fit: cover;
}
.block {
    background-color: #f5f6f7;
    padding: 30px 0 60px;
}
.content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 40px 0;
}
.text-content {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
}
.action {
    background-color: #16a085;
    border: none;
    border-radius: 3px;
    margin: 30px auto;
    display: block;
}
.action-title {
    font-size: 1.2em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 15px 45px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.footer {
    max-width: 1020px;
    text-align: right;
    margin: 60px auto 40px;
    font-weight: 700;
    padding: 0 20px;
    letter-spacing: 1px;
    padding: 0 20px;
}
