.content-body {
  font-family: Arial, sans-serif;
  color: #d1a303;
}

.starswars_prologue {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #000 url("../img/stars_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.starswars_prologue::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 80em;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

}
.starwars_title_wrap{
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100em;
  margin: 0 auto;
  transform-origin: center bottom;
  transform: perspective(400px) rotateX(20deg);
}
.starwars_title {
  position: absolute;
  top: 100%;
  opacity: 1;
  font-size: 70px;
  line-height: 100px;
  letter-spacing: 5px;
  font-weight: bold;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  from { top: 100%; }
  to { top: -150%;}
}

.starwars_title_header {
  text-align: center;
}
.starwars_title_text {
  text-align: justify;
}
.starswars_music_theme {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 5;
}

