.signup-form-checkbox-container *,
.signup-form-checkbox-container *::before,
.signup-form-checkbox-container *::after {
    box-sizing: content-box !important;
}
.signup-form-checkbox-container input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.signup-form-checkbox-container {
    display: table;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    margin: 10px 10px 25px 0;
}
.signup-form-checkbox-container input[type="checkbox"] ~ .signup-form-checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}
.signup-form-checkbox-container input[type="checkbox"] ~ .signup-form-checkbox-checkmark::after {
    content: '';
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}
.signup-form-checkbox-container input:checked ~ .signup-form-checkbox-checkmark::after {
    display: block;
}
