@import "checkbox.css";
body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #434343;
    background: #434343 url("../img/journey_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.clearfix {
    clear: both;
}
.clearfix:after {
    content: "";
    clear: both;
}
.container {
    max-width: 1210px;
    min-width: 560px;
    margin: 0 auto;
}
.navbar {
    background-color: #00000060;
    padding: 20px;
    height: 20px;
}
.logo {
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.logo:hover {
    color: #3cb878;
}
.navbar-right {
    display: flex;
    float:right;
}
.navbar-menu {
    display: inline-block;
    border-right:1px solid gray;
    height: 20px
}
.navbar-menu-items {
    display: inline-block;
    margin-right: 28px;

}
.navbar-menu-link {
    display: block;
}

.ic_calendar, .ic_forum, .ic_jorney,
.ic_calendar:hover, .ic_forum:hover, .ic_jorney:hover {
    background: url("../img/sprite_icons.png");
    background-repeat: no-repeat;
}
.ic_calendar {
    width: 20px;
    height: 20px;
    background-position: 0 -21px; width: 20px; height: 20px;
}
.ic_calendar:hover {
    background-position: 0 0; width: 20px; height: 20px;
}
.ic_forum {
    width: 28px;
    height: 20px;
    background-position: 0 -63px; width: 28px; height: 20px;
}
.ic_forum:hover {
    background-position: 0 -42px; width: 28px; height: 20px;
}
.ic_jorney {
    width: 20px;
    height: 20px;
    background-position: 0 -84px; width: 20px; height: 20px;
}
.ic_jorney:hover {
    background-position: 0 -105px; width: 20px; height: 20px;
}
.user_menu {
    display: inline-block;
    color: #fff;
    margin-left: 28px;
}
.user_menu_login, .user_menu_signup, .user_login, .terms-condition {
    color:#3cb878;
    text-decoration: none;
    transition: 0.3s;
}
.user_menu_login:hover, .user_menu_signup:hover, .user_login:hover, .terms-condition:hover  {
    border-bottom: 1px solid #3cb878;
}
.signup {
    display: grid;
    grid-auto-rows: 80vh;
}
.signup-popup-form {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 444px;
    margin: 70px auto 0px;
    padding: 20px 45px 25px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 18px #00000052;
}
.signup-title {
    float: left;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
}
.user_login {
    float: right;
    display: inline-block;
}
.signup-popup-form::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
}
/* Shared */
.login-social-btn {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 48.5%;
    padding: 10px 15px 10px 60px;
    border: none;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 30px;
}
.login-social-btn::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
}
.login-social-btn:focus {
    outline: none;
}
.login-social-btn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.facebook {
    background-color: #305db8;
    float: left;
}
.facebook::before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    font-weight: 700;
    border-right: 1px solid #00000010;
    font-size: 20px;
    margin: 10px;
}
.facebook:hover,
.facebook:focus {
    background-color: #264b96;
}

/* Google */
.google {
    background-color: #df4a32;
    float: right;
}
.google::before {
    content: "\f0d5";
    font-family: "Font Awesome 5 Brands";
    font-weight: 700;
    border-right: 1px solid #00000010;
    font-size: 20px;
    margin: 10px;
}
.google:hover,
.google:focus {
    background-color: #c3412c;
}

.signup-form-fieldset {
    border-top: 1px solid #eaeaea;
}
.signup-form-divider {
    text-align: center;
    padding: 0 18px;
    margin-bottom: 15px;
    color: #848484;
}
.signup-form-field {
    width: 100%;
    border:1px solid #eaeaea;
    padding: 17px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
}
.signup-form-field:focus {
    color: #434343;
    box-shadow: 0 3px 8px #00000021;
    margin-bottom: 17px;
    border-color: #fff;
}
.signup-form-field::placeholder {
    color: #bebebe;
}
.signup-form-submit_btn {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #3cb878;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border: none;
    transition: 0.3s;
    outline: none;
}
.signup-form-submit_btn:hover,
.signup-form-submit_btn:focus {
    background-color: #329a65;
}
