body {
    font-family: Verdana;
    font-size: 18px;
    line-height: 24px;
    color:#fff;
}

.clearfix {clear: both;}

.site-bg {
    background-image: url("../img/milan-holidays-background.jpg");
    background-color: #00000070;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 1064px;
    margin: 0 auto;
}

/*Шапка сайта*/

.header {
    padding-top: 50px;
    margin-bottom: 45px;
}
.logo {
    float: left;
    display: block;
    width: 105px;
    height: 45px;
    padding-left: 60px;
    background: url("../img/milan-cathedral-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}
.logo:first-line {
    font-size: 29px;
    line-height: 25px;
}

.logo:hover {
    background: url("../img/milan-cathedral-orange.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color:#f26522;
}

/*Блок контактов справа*/

.contacts {
    float: right;
}
.contact-mail, .contact-phone {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: right;
    transition: 0.2s ease-in-out;
}
.contact-mail:hover, .contact-phone:hover {
    color:#f26522;
}

/*Блоки с фото*/

.photo-block {
    display: inline-block;
    margin: 0 29.5px 35px;
    box-sizing: border-box;
}
.photo-block:nth-child(3n+1) {
    margin-left: 0;
}
.photo-block:nth-child(3n+3) {
    margin-right: 0;
}

/*Фотография в блоке*/

.photo-block-content {
    width: 311px;
    height: 204px;
    padding: 2px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 20px 30px black;
}
.photo-block-pic {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}
.photo-block-content:hover .photo-block-pic {
    transform: scale(1.1);
}

/*Плашка с ценой*/

.photo-block-price-bar {
    display: block;
    height: 62px;
    width: 311px;
    box-sizing: border-box;
    padding: 10px 20px 15px;
    margin-left: -2px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    position: relative;
    background:#f26522;
}
.photo-block-content:hover .photo-block-price-bar{
    margin-top: -65px;
}
.photo-price {
    float: left;
    font-size: 20px;
}
.photo-details {
    float: right;
    font-size: 14px;
    padding-top: 16px;
}
.fa-angle-right {
    padding-left: 15px;
    opacity: 0.5;
}
.photo-price:before {
    content: 'from';
    font-size: 10px;
    height: 16px;
    display: inherit;
}

/*Подпись к фото*/

.photo-block-title {
    display: block;
    margin: 20px 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.photo-block-title:hover,
.photo-block:hover .photo-block-title {
    color: #f26522;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin: 10px 0 20px;
}
#theme-changer {
    display: block;
    width: 320px;
    background: green;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0 10px;
    border-radius:  0 0 5px 5px;
    border:1px solid #fff;
    border-top: none;
    position: absolute;
    top:-10px;
    left: 50%;
    margin-left: -160px;
    transition: 0.3s ease-in-out;
}
#theme-changer:hover {
    top:0;
}
#theme-changer:focus {
    color: #333333;
}
