.rss {
  background: url("../img/icons/rss.png");
}
.facebook {
  background: url("../img/icons/facebook.png");
}
.twitter {
  background: url("../img/icons/twitter.png");
}
.dribble {
  background: url("../img/icons/dribbble.png");
}
.pinterest {
  background: url("../img/icons/pinterest.png");
}