.about-us {
  @media (min-width: $mobile) {
    padding: 30px 0 60px;
  }
  @media (min-width: $tablet) {
    padding: 40px 0 80px;
  }

}
.about-us-title {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  padding: 60px 0 20px;
  @media (max-width: $tablet) {
    font-size: 26px;
    padding: 30px 0 20px;
  }
}
.about-us-text-paragraf {
  font-size: 28px;
  padding: 0 30px;
  text-align: center;
  @media (max-width: $tablet) {
    font-size: 22px;
  }

}