body {
  font-family: 'Dosis', sans-serif;
  color: #4e4e4e;
  font-size: 14px;
  line-height: 1.4;
}
.container {
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}
.img-fluid {
  max-width: 100%;
}
.clearfix {
  clear: both;
}
.divider {
  padding: 0 10px;
}

.header {
  display: flex;
  @media (min-width: $mobile) {
    .header-logo-img {
      height: 40px;
    }
    .header-logo {
      margin: 20px;
    }
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: $tablet) {
    justify-content: center;
    align-items: center;
    .header-logo {
      margin: 20px 30px;
    }
  }
  @media (min-width: $desktop) {
    flex-direction: column;
    .header-logo-img {
      height: 68px;
    }
  }

}


.navbar {
  @media (min-width: $mobile) {
    display: block;
  }
  @media (min-width: $tablet) {
    display: block;
    background-color: transparent;
    padding-top: 28px;
    padding-bottom: 28px;
    .navbar-menu-item {
      margin: 0 18px;
    }
  }
  @media (min-width: $desktop) {
    width: 100%;
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      height: 40px;
      width: 300%;
      display: block;
      background-color: #f2f2f2;
      position: absolute;
      z-index: -100;
      top: 12px;
      left: -100%;
    }
  }
  &.show .navbar-menu-button {
    border-color: transparent;
  }
  &.show .navbar-menu-button::after {
    left:-3px;
    width: 26px;
    transform: rotate(45deg);
  }
  &.show .navbar-menu-button::before {
    left:-3px;
    width: 26px;
    transform: rotate(-45deg);
  }
  &.show .navbar-menu-list {
    top:60px;
  }
}


.navbar-menu-list {
  @media (max-width: $tablet) {
    position: absolute;
    top: -300px;
    right: 20px;
  }
}

.navbar-menu-item {
  display: inline-block;
  margin: 0 20px;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    //position: absolute;
    margin: 0;

  }
}

.navbar-menu-link {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #585858;
  text-transform: uppercase;
  font-weight: bold;
  @media (max-width: $tablet) {
    box-sizing: border-box;
    width: 180px;
    padding: 10px;
    border-bottom: 2px solid #F5F5F5;
    font-weight: 500;
    background: #fff;
    &:hover {
      background: #f5f5f5;
    }
  }
}

.navbar-menu-button {
  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top:30px;
    right: 30px;
    z-index: 200;
    width: 20px;
    height: 17px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
    background-color: #000;
    outline: 10px solid #000;
    &::before {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 7px;
      z-index: 200;
      transition:.3s;
      right: 0;
    }
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 7px;
      z-index: 200;
      transition:.3s;
      right: 0;
    }
  }
}