@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    transition: .3s;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #151515;
    color:#fff;
    line-height: 1.2em;
}
.content {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.nav-bar {
    padding: 0 20px;
    height: 51px;
}
.nav-bar-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}
.logo {
    display: block;
    background: url("../img/logo_unicorn.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width:65px;
}

#menu{
    margin-top: 17px;
}
#burger-menu {
    display: block;
    position: relative;
    z-index: 200;
    width: 20px;
    height: 17px;
    border-top: 2px solid #F38A03;
    border-bottom: 2px solid #F38A03;
    box-sizing: border-box;
    cursor: pointer;
}
#burger-menu::before,
#burger-menu::after {
    content: "";
    width: 20px;
    height: 2px;
    background: #F38A03;
    position: absolute;
    top: 6px;
    z-index: 200;
    transition:.3s;
}
#menu.show #burger-menu {
    border: transparent;
}
#menu.show #burger-menu::after {
    width: 22px;
    transform: rotate(45deg);
}
#menu.show #burger-menu::before {
    width: 22px;
    transform: rotate(-45deg);
}
#menu .menu-items-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -200px;
    right: 0;
    width: 120px;
    background: #15151590;
    padding: 10px;
    z-index: 100;
}
#menu.show .menu-items-wrap {
    top: 0;
}
.menu-item {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}


.top-banner {
    width: 100%;
    height: 440px;
    background: url("../img/energym.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}
.top-banner::after {
    content: "";
    display: block;
    width:70%;
    height: 64px;
    background: #ED1260;
    position: absolute;
    bottom: -64px;
    right: 0;
    transition: 0.3s;
}
.top-wrap {
    position: absolute;
    top: 40px;
    left: 20px;
}
.top-title {
    font-size: 25px;
    text-transform: uppercase;
    padding: 45px 40px;
    background: #000;
}
.top-link {
    display: block;
    text-align: center;
    margin: 15px 60px;
    font-size: 16px;
    padding: 10px 30px;
    background: #000;
    color: #fff;
}


.services {
    margin: 20px auto;
}
.service-text {
    font-size: 16px;
    padding: 80px 30px 50px;
}
.service-items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.service-item {
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}
.service-item-text {
    font-size: 14px;
    padding-top: 20px;
}


.location-wrap {
    border:5px solid #ED1260;
    padding: 8px;
    box-sizing: border-box;
}
.location-map {
    width: 100%;
    height: auto;
}
.address {
    font-size: 12px;
    text-align: center;
    padding: 0 0 3px 0;
}


.contacts {
    border: 5px solid #F38A03;
    padding: 30px 20px 20px;
    margin-top: 60px;
}
.contacts-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.contacts-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.contact-field {
    padding: 20px 20px 0 60px;
    display: flex;
    align-items: center;
}
.contact-link {
    font-size: 18px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    display: block;
}
.icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    margin-right: 20px;
}
.icon-mail {
    background-image: url("../img/icons/7.svg");
}
.icon-phones {
    background-image: url("../img/icons/8.svg");
}
.icon-address {
    background-image: url("../img/icons/9.svg");
}
.icon-lable {
    display: none;
}