.content {
    padding: 0 50px;
}
.nav-bar {
    height: 60px;
}
.nav-bar-wrap {
    align-content: center;
}
.logo {
    height: 58px;
    width: 74px;
}
#burger-menu,
#burger-menu::after,
#burger-menu::before {
    width: 0;
}
#menu .menu-items-wrap{
    flex-direction: row;
    justify-content: space-between;
    top: 10px;
    width: 450px;
    background: transparent;
    cursor: auto;
}
.menu-item {
    padding: 0;
}

.top-wrap {
    top: 60px;
    left: 30px;
}

.top-title {
    font-size: 28px;
    padding: 55px 60px;
}
.top-link {
    font-size: 18px;
    padding: 13px 30px;
}
.service-text {
    font-size: 20px;
    padding: 100px 0 40px;
    line-height: 1.2em;
}
.service-item {
    padding: 15px;
    width: 33%;
    max-width: 280px;
}
.service-item-text {
    font-size: 16px;
}

.location {
    margin: 60px auto 100px;
}
.location-wrap {
    width: 530px;
    margin: 0 auto;
}
.location-map {
    padding: 10px;
    box-sizing: border-box;
}
.address {
    font-size: 20px;
    padding: 0 0 5px 0;
}

.contacts {
    margin-bottom: 30px;
    padding: 30px;
}
.contacts-title {
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 30px 0;
}
.contacts-wrap {
    flex-direction: row;
}
.contact-field {
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
}
.contact-link {
    font-size: 20px;
    line-height: 1.2em;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 15px 15px 30px;
}
.icon-lable {
    font-size: 20px;
    margin-bottom: 3px;
    text-align: center;
    display: block;
}