.content {
    width: 960px;
    padding: 0;
}
.nav-bar {
    width: 1020px;
    margin: 0 auto;
    height: 80px;
}
.logo {
    width: 90px;
}
#menu .menu-items-wrap {
    top:17px;
}
.top-banner {
    width: 960px;
    height: 513px;
    margin: 0 auto;
}
.top-wrap {
    top: 80px;
    left: 40px;
}
.top-banner::after {
    width: 102px;
    height: 347px;
    top: 0;
    right: -102px;
}
.top-title {
    font-size: 32px;
    padding: 40px 50px;
}
.top-link {
    font-size: 22px;
    padding: 20px 30px;
}
.service-text {
    font-size: 25px;
    padding: 40px 0 80px;
    line-height: 1.2em;
}
.service-item {
    padding: 25px;
}
.service-item-text {
    font-size: 18px;
}
.location {
    margin: 80px auto 120px;
}
.location-wrap {
    width: 530px;
    margin: 0 auto;
}
.location-map {
    padding: 15px;
    box-sizing: border-box;
}
.address {
    font-size: 22px;
    padding: 0 0 10px 0;
}
.contacts {
    border: none;
    margin-bottom: 40px;
}
.contacts-title {
    font-size: 45px;
    font-weight: normal;
    text-align: left;
    margin: 0 0 40px 40px;
}
.contacts-wrap {
    flex-direction: row;
}
.contact-field {
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;

}
.contact-link {
    font-size: 25px;
    line-height: 1.2em;
}
.icon {
    width: 40px;
    height: 40px;
    margin: 20px 20px 40px;
}
.icon-lable {
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    display: block;
}