@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    overflow: hidden;
}
.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
    transform-style: preserve-3d;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #353a3d;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.green_bg {
    background-color:#89ca62;
}
.blue_bg {
    background-color:#14b9d5;
}
.blue {
    color:#14b9d5;
}
.white {
    color:#ffffff;
}
.navbar-logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 0 5px 55px;
    background: url("../img/logo-architect.png");
    background-position: -10px -55px;
    background-repeat: no-repeat;
    transition: .3s;
}
.navbar-logo:hover {
    background-position-y: -9px;
    color: #169cb4;
}
.navbar {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: #1d2124;
}
.navbar-nav-menu {
    display: flex;
}
.navbar-menu-items {
    padding: 0 16px;
}
.navbar-menu-link {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    transition: .3s;
}
.navbar-menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #169cb4;
    transition: .3s;
}
.navbar-menu-link:hover::after {
    width: 100%;
    left: 0;
}
.navbar-menu-link:hover {
    color: #169cb4;
}
.navbar-search {
    width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
    background: black;
    color: white;
    text-align: center;
    transition: .3s;
}
.navbar-search:hover {
    color: #169cb4;
}

.header {
    position: relative;
    width: 100%;
    height: 370px;
    overflow:hidden;
}
.header::after {
    content:"";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transform:translateZ(-50px) scale(2);
    transform-origin: center;
    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    background-position-x: center;
    background-position-y: -300px;
    background-repeat: no-repeat;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000040;
}
.header-warp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0px;
    transform: translateZ(-30px) scale(2);
}
.header-title {
    text-align: center;
    font-size: 27px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 45px;
}
.header_btn {
    display: inline-block;
    width: 170px;
    padding: 20px 0 15px;
    box-sizing: border-box;
    font-size: 18px;
    color:#ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    border-bottom: 5px solid transparent;
    transition: .3s;
}
.header_btn:hover {
    border-bottom-color: #00000040;
    color:#333333;
}
.most-popular-posts {
    padding: 60px 0;
    background-color: #f2f2f2;
}
.section-title {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.popular-posts-col-warp {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.popular-posts-col {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.popular-post-preview {
    background: #ffffff;
}
.popular-post-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.popular-post-pic {
    width:100%;
    object-fit: cover;
}
.popular-clients {
    position: relative;
    height: 588px;
    overflow: hidden;
    width: 102%;
}
.popular-clients::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform:translateZ(-50px) scale(2);
    transform-origin: center;
    background-image: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.popular-clients::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000040;
    transform:translateZ(-50px) scale(2);
}
.clients-warp {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    position: relative;
    padding: 200px 0;
    transform:translateZ(-30px) scale(2);
    z-index: 2;
}

.clients-brands {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}
.client-brand-logo {
    transition: .3s;
}
.client-brand-logo:hover {
    opacity: .8;
    transform: scale(.9);
    cursor: pointer;
}
.line::after {
    content: "";
    display: block;
    margin: 55px auto 0;
    width: 60px;
    height: 2px;
    background-color: #169cb4;
}
.top-rated {
    padding: 60px 0;
}
.top-rated-imgs-warp {
    display: grid;
    grid-auto-flow: column;
}
.top-rated-img {
    width: 100%;
}

.design-news {
    margin: 70px 0;
  }
.design-news-wrap {
    display: grid;
    grid-template: repeat(3,250px) / repeat(3,1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}
.design-news-post {
    background: #f9f7f7;
    overflow: hidden;
}
.design-news-title {
    font-size: 18px;
    font-weight: bold;
}
.design-news-desc {
    color: #5b6469;
    margin: 25px;
    font-weight: normal;
}

.col-des-1 .design-news-title {
    margin-top: 8px;
    text-align: center;
}
.col-des-1 .design-news-desc {
    display: none;
}
.col-des-1 .design-news-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.col-des-2 {
    text-align: right;
    grid-column-end: span 2;
}
.col-des-2:nth-child(even) {
    text-align: left;
    grid-column-end: span 2;
}
.col-des-2:nth-child(even) .design-news-img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.col-des-2 .design-news-title {
    padding: 20px;
}
.col-des-2 .design-news-img {
    float: left;
    margin-right: 20px;
    margin-left: 0;
    height: 100%;
}

.hot-news {
    margin-bottom: 70px;
}
.hot-news-wrap {
    display: grid;
    grid-template: 259px 1fr 1fr 259px / repeat(4,1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}
.hot-news-post {
    background: #f9f7f7;
}
.hot-news-title {
    font-size: 18px;
    font-weight: bold;
}
.hot-news-desc {
    color: #5b6469;
    margin: 25px;
    font-weight: normal;
}
.col-1 .hot-news-title {
    margin-top: 8px;
    text-align: center;
}
.col-1 .hot-news-desc {
    display: none;
    overflow: hidden;
}
.col-2, .col-3 {
    text-align: right;
}
.col-2 {
    grid-column-end: span 2;
    overflow: hidden;
}
.col-2 .hot-news-title {
    padding: 20px 25px 0;
}
.col-3 {
    grid-column-end: span 3;
    overflow: hidden;
}
.col-3 .hot-news-title {
    padding: 30px 25px 0;
}
.col-3 .hot-news-img {
    float: left;
    margin-right: 25px;

}
.col-3 .design-news-img {
    height: 259px;
}
.col-1 .design-news-title {
    margin-top: 8px;
    text-align: center;
}
.col-1 .design-news-desc {
    overflow: hidden;
}
.footer {
    background-color: #1d2124;
    height: 80px;
}
.footer-wrap {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    height: 100%;
}
.footer-copyright {
    font-size: 13px;
    font-weight: normal;
    justify-self: start;
    color: #fff;
}
.footer-copyright-link {
    text-decoration: none;
    color: #ffffff;
}
.footer-copyright-link:hover {
    color: #5b6469;
}
.footer-logo {
    justify-self: end;
}
.footer-logo:hover {
    opacity: .8;
    cursor: pointer;
}
#button-up{
    display: none;
    width: 80px;
    height: 80px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 40px;
    opacity:0.4;
    position: fixed;
    right: 50px;
    bottom: 80px;
    color: #fff;
    background: #333333;
    transition: 0.3s;
    text-align: center;
    font-size: 35px;
    transform: rotate(-90deg);
    z-index: 999;
}

#button-up:hover{
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}
.title_toggle {
    border-bottom: 1px dashed #333333;
    width: 200px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}