@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    background-color: #111;
    color: #999;
}
.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    color: yellow;
}
.logo {
    font-family: 'STARWARS';
    font-size: 2rem;
    display: block;
    padding: 20px 0 5px 0;
    text-align: center;
    color: #111;
    text-shadow: 1px 1px 0 yellow,
    -1px -1px 0 yellow, 1px -1px 0 yellow,
    -1px 1px 0 yellow;
}
.films-list {
    display: flex;
    padding: 10px 20px;
}
.film-item {
    padding: 20px 10px;
}
.film-id {
    font-size: 2em;
    font-weight: bold;
    color:#fff;
    margin: 5px 0;
}
.film-title {
    height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:yellow;
    margin: 15px 0;
}
.film-crawl {
    font-weight: 300;
    text-align: justify;
    font-size: 0.8em;
}
.person-list {
    padding-top: 20px;
}
.person-name {
    font-size: 0.6rem;
    font-weight: lighter;
    color: lightyellow;
    padding: 3px 0 0 10px;
    font-style: italic;
}