body {
    font-family: Myriad Pro, Arial sans-serif;
    font-size:18px;
    line-height: 1.33;
    color: #2c2c2c;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}
.color-blue {
    color:#4bcaff;
}
.header {
    padding-top: 50px;
    margin-bottom: 40px;
}
.logo {
    text-decoration: none;
    font-size: 84px;
    color: #000;
}
.navbar {
    background-color: #35444f;
    margin-bottom: 50px;
}
.navbar-menu {
    text-align: center;
}
.navbar-menu-item {
    display: inline-block;
}
.navbar-menu-link, .navbar-menu-link-select {
    display: block;
    padding: 25px 40px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.navbar-menu-link:hover, .navbar-menu-link-select {
    background-color: #222f3a;
    border-left: 0.5px solid #818181;
    border-right: 0.5px solid #818181;
}
.main {
    display: flex;
    justify-content: space-between;
}
.sidebar-l {
    display: inline-block;
    margin-right: 55px;
}
.sidebar-l-menu {
    width: 340px;
    border:0.5px solid #35444f;
    box-sizing: border-box;
}
.sidebar-l-link, .sidebar-l-link-select {
    display: block;
    padding: 25px 15px 25px 45px;
    font-size: 27px;
    text-decoration: none;
    color: #495863;
    transition: 0.5s;
}
.sidebar-l-link:hover, .sidebar-l-link-select {
    background-color: #dbdbdb;
    padding-left 70px;
    color: #000;
    border-right:0.5px solid #35444f;
    border-left:0.5px solid #35444f;
    transition: 0.5s;
}
.content {
    display: inline-block;
}
.content-top-pic {
    width:100%;
    height: 530px;
    border:0.5px solid #35444f;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.content-img {
    width: auto;
    height: 380px;
    transition: 0.5s;
    padding: 75px 0;
}
.content-top-pic:hover .content-img {
    transform: scale(1.1);
    transition: 0.5s;
}
.content-text {
    padding: 0 35px 35px;
}
.footer {
    margin: 15px 0 35px;
    background-color: #b4b7ba;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
}
.footer-menu-item {
    display: inline-block;
    padding: 20px 10px 15px;
}
.footer-menu-link, .footer-menu-link-select {
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
.footer-menu-link:hover, .footer-menu-link-select {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 5px;
}
.copyright {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    padding: 25px 0 15px;
}
