@mixin flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-between-nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin flex-center-nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@mixin left-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}